/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-image: url(../img/sfondo.png);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#principalblock {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  padding: 1em 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 400px;
  box-shadow: 3px 2px gray;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
/* HEADER */
header h2 {
  margin-top: 1em;
}

#firstnav {
  margin-top: 1em;
  margin-bottom: 1em;
}
header {
  color: white;
}
.anav {
  text-decoration: none;
  font-size: 0.9em;
  color: white;
}
/* MAIN */
#firstcolorblock {
  border: 1px solid rgb(0, 123, 159);
  background-color: rgb(0, 123, 159);
  width: 400px;
  border-radius: 5px;
  box-shadow: 3px 2px gray;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}
main section article h1 {
  font-size: 1.5em;
  font-style: bold;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
#h3top {
  padding-top: 0.8em;
  padding-bottom: 1.2em;
  text-align: start;
  font-size: 0.9em;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
.VideoYT {
  width: 350px;
  height: 200px;
  border-radius: 10px;
}
/* FORM */

/* ELEMENTI NELL' ASIDE */
aside h2 {
  font-size: 1.5em;
}
.articoliaside {
  border: 1px solid rgb(213, 248, 255);
  background-color: rgb(213, 248, 255);
  width: 400px;
  border-radius: 5px;
  box-shadow: 3px 2px gray;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

/* FOOTER */
#lastblock {
  border: 1px solid rgb(0, 85, 102);
  background-color: rgb(0, 85, 102);
  width: 400px;
  border-radius: 5px;
  box-shadow: 3px 2px gray;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}
footer span {
  padding: 1em;
}
footer p {
  padding: 1em;
}
footer a {
  color: blueviolet;
  font-style: bold;
}
